	body {
		font-family: 'Noto Sans', sans-serif;
		background-color: #F46927;
		color: #FFDCA5;

	}

	h1{
		text-align: center;
	}

#navcontainer ul
{
margin: 0;
padding: 7px;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { 
	display: inline; 
	}
#navcontainer ul li a { 
	text-decoration: none;
	padding: .2em 1em;
	color: #Fff;
	background-color:#EEABA5; 
	}

	#navcontainer ul li a:hover
	{
	color: #620208;
	}

}
 li a{
 	display: block;
 	text-align: center;
 	text-decoration: none;
 }


	#my-header {
			background-color: #EEABA5;
			color: #E01C72; 
			font-size: 50px;
			margin: 30px 30px 30px 30px;
			border-style: solid;
			border-color: #E01C72;
    		border-width: 5px;

		}
		.my-list-item {
		font-size: 16px;
		}

		#section1 {
			background-color: #E01C72;
		}

		#section2 {
			background-color: #FFDCA5;
		}

		#section3{
			background-color: #620208;
		}
.section{
	color:black;
}


/* Thus begins our strictly responsive page css */

#navigationbar{
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	width: 100%;
	height: 100px;
	background-color: #f7f7f7;
}

.logoshop{
	display: flex;
	justify-content: space-between;
}
.logos{
	width: 75px;
	height: 35px;
	background-color: #FFDCA5;
	border: solid;
	border-color: cyan;
	margin: 20px;
}

.storelink{
	width: 75px;
	height: 35px;
	background-color: #FFDCA5;
	border: solid;
	border-color: red;
	margin:20px;
}


.navlinks{
	display:flex;
	align-self: flex-end;
	width: 50px;
	height: 20px;
	float: left;
	margin: 20px;
	background-color: ##EEABA5;
	border-color: black;
	border: solid;
}

#listenbar{
	display:flex;
	width: 30%;
	height: 100px;
	align-items:baseline;
	background-color: #979797;
}

.listenbuttons{
	align-self:baseline;
	width: 15%;
	height: 15%;
	margin: 20px;
	background-color: blue;
	border-color: black;
	border: solid;	
}

.articles{
	width: 80%;
	margin: 20px;
	background-color: #620208; /*maroon*/
	border-color: black;
	border: solid;	
}

.ad{
	width: 80%;
	height: 50px;
	margin: 20px;
	background-color: #EEABA5; /*light pink*/
	border-color: black;
	border: solid;	
}

.articlepic{
	margin: 20px;
}

.morestories{
	width: 70px;
	height: 30px;
	float: left;
	margin: 20px;
	background-color:blue;
}
/*
pale yellow #FFDCA5
orange #F46927
bright pink #E01C72
light pink #EEABA5
maroon #620208

Terminal:
cd desktop
cd idesn3535-flamingo
surge -d idesn3535-flamingo.surge.sh
*/