

body{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	background-image: url("starbackground.jpeg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

h1{
	margin-left: 280px;
}


#siteNav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	color: white;
}

#searchSeries{
	display: flex;
	flex-direction: row;
}


#siteBody{
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: row;
}


.leftNav {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #22185E;
	color: white;
	border-style: none;
	border-radius: 0px;
	display: block;
	width: 200px;
	height: 55px;
	margin: 10px;
	margin-left: 20px;
	font-size: 1.1em;
	letter-spacing: 1px;
	transition: background-color, 250ms, width, 250ms;
	text-align: left;
	padding-left: 30px;
}

#seasons{
	width: 210px;
}
.leftNav:hover{
	background-color: #333355;
	width: 203px ;
}

.leftNav:active{
	background-color: #333355;
}

.search {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #333355;
	color: white;
	border-style: none;
	border-radius: 0px;
	width: 200px;
	height: 55px;
	margin: 10px;
	margin-bottom: 30px;
	margin-left: 20px;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 30px;
}

::placeholder {
    color: white;
    opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

#seriesButton {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #333355;
	color: white;
	border-style: none;
	border-radius: 0px;
	width: 275px;
	height: 55px;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 30px;
}

#episode-list{
	width: 70%;
	height: 70%;
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 10px;
	color: white;
	overflow-y: scroll;
	height: 445px;
}


.episodeStyle {
	background-color: rgba(34, 24, 94, 0.6);
	margin-bottom: 20px;
	font-weight: 300;
	letter-spacing: .5px;
	color: white;
	padding: 40px;
	display: flex;
	flex-direction: row;
}

.imageStyle{
	margin: 10px;
	object-fit: contain;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
 
h1{
	margin: 30px;
	text-align: center;
}

#searchSeries{
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 95%;
	align-self: center;
}

.search{
	width: 100%;
	margin-bottom: 0px;
	margin-left: 0px;
}


#seriesButton
{
	width: 100%;
	margin-left: 0px;

}

#siteBody{
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
}

.imageStyle{
	margin: 10px;
	max-width: 40%;
	object-fit: contain;
}

#episode-list{
	width: 95%;
	height: 70%;
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	overflow-y: scroll;
	height: 445px;
}


.episodeStyle {
	background-color: rgba(34, 24, 94, 0.6);
	margin-bottom: 10px;
	font-weight: 300;
	letter-spacing: .5px;
	color: white;
	padding: 20px;
	padding-bottom: 20px;
}

    }



