
  html{
  background: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
}

h1{
	margin-left: 280px;
}



#hamburger{
	width: 90px;
	height:60px; 
	margin-top: 10px;
}


#siteNav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	color: white;
}

#searchSeries{
	display: flex;
	flex-direction: row;
}


#siteBody{
	display: flex;
	flex-direction: row;
}


.leftNav {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #22185E;
	color: white;
	border-style: none;
	border-radius: 0px;
	display: block;
	width: 200px;
	height: 55px;
	margin: 10px;
	margin-left: 20px;
	font-size: 1.1em;
	letter-spacing: 1px;
	transition: background-color, 250ms, width, 250ms;
	text-align: left;
	padding-left: 30px;
	outline: none;
}

#seasonDropdown {
	display:none;
}

#seasons{
	width: 210px;
}


#seasonDropdown{
	display: none;
}

.leftNav:hover{
	background-color: #333355;
	width: 203px ;
}

.leftNav:focus{
	background-color: #333355;
}

.search {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #333355;
	color: white;
	border-style: none;
	border-radius: 0px;
	width: 200px;
	height: 55px;
	margin: 10px;
	margin-bottom: 30px;
	margin-left: 20px;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 30px;
}

::placeholder {
    color: white;
    opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

#seriesButton {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #333355;
	color: white;
	border-style: none;
	border-radius: 0px;
	width: 275px;
	height: 55px;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 30px;
}

#episode-list{
	width: 70%;
	height: 70%;
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 10px;
	color: white;
	overflow-y: scroll;
	height: 445px;
	scroll-behavior: smooth;
}


#episodeStyle {
	background-color: rgba(34, 24, 94, 0.5);
	margin-bottom: 20px;
	font-weight: 400;
	letter-spacing: .5px;
	padding: 40px;
	display: flex;
	flex-direction: row;
}

#episodeStyle img {
   min-width: 250px;
   width: 100%;
    height: auto;
}

#episodeText{
	margin-left: 20px;
	line-height: 1.4;
}

#episodeText p{
	font-weight: 300;
	line-height: 1.2;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width:275px;
    overflow: auto;
    position:absolute;
    right:0;
    background-color: #333355;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: white;
}

#hamburgDropdown{
	right:0;
}

.dropdown:hover .dropdown-content {
    display: block;
}



@media all and (max-width: 768px) {
    /* For mobile phones: */


h1{
	margin: 30px;
	text-align: center;
}

#hamburger{
	margin-top: 20px;
}

#searchSeries{
	display: flex;
	flex-direction: column;
	width: 95%;
	align-self: center;
}

.search{
	width: 100%;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 40px;
}


#seriesButton
{
	width: 100%;
	margin-left: 0px;
	height: 40px;
}

.dropdown-content{
	width:100%;
}

#seasonSidebar{
	width: 95%;
	align-self:center;
}

#seasonDropdown{
	display: inline;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #333355;
	color: white;
	-webkit-appearance: none;
 	-webkit-border-radius: 0px;
	border-style: none;
	height: 40px;
	letter-spacing: 1px;
	font-size: 1.1em;
	outline: none;
	text-align: left;
	padding-left: 30px;
}

#seasonResponsive{
	color:red;
}

#siteBody{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.imageStyle{
	margin: 10px;
	max-width: 40%;
	object-fit: contain;
}

#episode-list{
	width: 95%;
	height: 70%;
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	overflow-y: scroll;
	height: 445px;
}


#episodeStyle {
	margin-bottom: 10px;
	letter-spacing: .5px;
	padding: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;

}

#imageStyle {
   max-width: 350px;
   min-width: 150px;
   width: 100%;
   height: auto;
   margin: auto;
}

#episodeText{
	margin-top: 10px;
}

.leftNav {

	display:none;
}
    }



